{{define "header"}}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="static/stylesheet.css" />
    <style>
        :root {
            --pico-nav-element-spacing-vertical: 0rem;
        }
        /* Custom style for navbar background color */
        .navbar {
            background-color: #00a86b; /* Jade color */
            color: white;
        }
    </style>
    <title>Ratchet</title>
</head>
{{end}}
