<!doctype html>
<html lang="en">
    {{template "header" .}}
    <body>
        <header class="container-fluid navbar">
            <nav>
                <ul>
                    <li>
                        <section>
                            <a href="/" aria-label="Home">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="red"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M12 3l9 9h-3v9H6v-9H3l9-9z" />
                                </svg>
                            </a>
                        </section>
                    </li>
                    <li>
                        <section>
                            <strong>Ratchet</strong>
                        </section>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="container-fluid">
            <section class="container-fluid" id="itemList">
                <h3>Channel home page</h3>
            </section>
        </main>
    </body>
</html>
